
.maincontainer{
     max-width: 1024px;
     margin: 0 auto;
    
}
.header2{
  display: flex;

  justify-content: space-between;

}

.logo{
  width: 40%; 
    
}
.logocontainer{
    width:50px;
    height: 50px;
}
.Menuitem{
    text-decoration: none;
    color: inherit;
    margin-left: 16px;
    font-size: 15px;
}
.Menuitem:hover{
    border-bottom-style:solid ;
    border-bottom-color:#cc00ff;
    transition: 0.6s;
}
.description{
    margin-bottom: 20px;
}
.inner{
    width: 63%;
}
 .header{
    margin-bottom: 10px;
 }
.container{
    
    }
    
.left{
    display: inline-block;
    width:40%;
    
}
.blockelement{
    display:block;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: lightgrey;
    height: 27px;
    width: 260px;
    border-radius: 10px;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}
.blockelement-col{
    border: none;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #0084ff;
    font-size: 19px;
    padding :2px 20px 0px;
    border-radius: 15px;
    height: 40px;
    width: 100px;
}
.blockelement-col:hover{
    background-color:#ccccff ;
    transition: 0.8s;
}
.inputspan{
    margin-bottom: 20px;
}
.Password{
    margin-bottom:20px;
}
.right{
    display: inline-block;
    width:40%;     
}


.footer{
    text-align: center;
    font-size: 40px;
    margin-top: 30px; 
}


.microsoft{
    width: 119.656px;
    height: 40px;
    display: inline-block;
    border-radius: 8px ;
}

.rightimage{
    width: 150%; 
    height: 150%;
}

.menubarcontainer{
    display: none;
}

@media(max-weight :767px){
.menucontainer{
    display: none;
 }
.menubarcontainer{
    display: block;
 }
}